:root {
  --COLOR-VANILLA: #f6efa6;
  --COLOR-DARK-GREEN: #042a2b;
  --COLOR-BRIGHT-PINK: #ff5964;
  --COLOR-COOL-GRAY: #7e7f9a;
  --COLOR-CADET-GRAY: #97a7b3;

  --FONT-FAM-FRANKLIN: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  --FONT-FAM-FANTASY: fantasy;
  --FONT-FAM-LUCIDA: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 15px;

  color: var(--COLOR-DARK-GREEN);
  font-family: var(--FONT-FAM-LUCIDA);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px 0px;
}

main {
  width: 1024px;
}

section {
  margin-top: 15px;
  padding: 15px;
  border: 3px solid darkgray;
  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: 5px 5px;
}

.color-el,
.font-el {
  width: 319px;
  height: 150px;
  padding: 5px;

  border: 1px solid darkgray;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px 0px;
}

p.bold {
  font-weight: bold;
}

p.italic {
  font-style: italic;
}

#color-vanilla {
  background-color: var(--COLOR-VANILLA);
}

#color-dark-green {
  background-color: var(--COLOR-DARK-GREEN);
  color: var(--COLOR-VANILLA);
}

#color-bright-pink {
  background-color: var(--COLOR-BRIGHT-PINK);
}

#color-cool-gray {
  background-color: var(--COLOR-COOL-GRAY);
}

#color-cadet-gray {
  background-color: var(--COLOR-CADET-GRAY);
}

#font-fantasy {
  font-family: var(--FONT-FAM-FANTASY);
}

#font-lucida {
  font-family: var(--FONT-FAM-LUCIDA);
}
